/* Red Button Style */
.btn-primary {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}
